<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468484801838-l4gbooiiakg4knraoo7vcl86v6vi8mrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468484801838-l4gbooiiakg4knraoo7vcl86v6vi8mrt</string>
	<key>API_KEY</key>
	<string>AIzaSyDm06TW_FtAovLPBxJuM6xVEHyZdd0o320</string>
	<key>GCM_SENDER_ID</key>
	<string>468484801838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ARapplication.NewARapp</string>
	<key>PROJECT_ID</key>
	<string>brand-new-ar-app</string>
	<key>STORAGE_BUCKET</key>
	<string>brand-new-ar-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468484801838:ios:6c0b15aab9048280cb26bf</string>
	<key>DATABASE_URL</key>
	<string>https://brand-new-ar-app.firebaseio.com</string>
</dict>
</plist>